#offiria_loginbox {
  font: 12px/16px 'Open Sans', helvetica, Arial;
  color: #666;
  width: 410px;
  background: #fff;
  margin: auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}
#offiria_loginbox fieldset,
#offiria_loginbox p,
#offiria_loginbox dl,
#offiria_loginbox dt,
#offiria_loginbox dd {
  border: 0;
  padding: 0;
  margin: 0;
}
#offiria_loginbox h3,
#offiria_loginbox .backh3 {
  display: none;
}
#offiria_loginbox label {
  display: block;
  width: auto;
  margin: 10px 0 0;
  float: none;
  font-weight: 400;
}
#offiria_loginbox label:nth-child(5n+0) {
  margin: 15px 0 0;
}
#offiria_loginbox legend {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
#offiria_loginbox .moduletable {
  padding: 0;
}
#offiria_loginbox .offiria-logo {
  background: url('../images/offiria.png') no-repeat 13px 10px;
  margin: 30px 30px 20px;
  border-bottom: 1px solid #ddd;
  text-indent: -99999px;
  height: 120px;
}
#offiria_loginbox .login-top {
  margin: 0 30px 20px;
}
#offiria_loginbox input.validate-username,
#offiria_loginbox input.validate-email,
#offiria_loginbox input.offiria_inputbox,
#offiria_loginbox input[type="text"],
#offiria_loginbox input[type="password"] {
  display: block;
  width: 344px;
  height: 36px;
  line-height: 36px;
  border: 3px solid #f9f9f9;
  text-indent: 15px;
  color: #666;
  -moz-box-shadow: inset 0 0 1px #888, inset 0 3px 2px #eee;
  -webkit-box-shadow: inset 0 0 1px #888, inset 0 3px 2px #eee;
  box-shadow: inset 0 0 1px #888, inset 0 3px 2px #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#offiria_loginbox input.validate-username:hover,
#offiria_loginbox input.validate-email:hover,
#offiria_loginbox input.offiria_inputbox:hover,
#offiria_loginbox input[type=text]:hover,
#offiria_loginbox input[type=password]:hover {
  border-color: #FFFBDB;
  -moz-box-shadow: inset 0 0 1px #9E7418, inset 0 3px 2px #eee;
  -webkit-box-shadow: inset 0 0 1px #9E7418, inset 0 3px 2px #eee;
  box-shadow: inset 0 0 1px #9E7418, inset 0 3px 2px #eee;
}
#offiria_loginbox input.validate-username:focus,
#offiria_loginbox input.validate-email:focus,
#offiria_loginbox input.offiria_inputbox:focus,
#offiria_loginbox input[type=text]:focus,
#offiria_loginbox input[type=password]:focus {
  border-color: #E8F3FA;
  -moz-box-shadow: inset 0 0 1px #112F40, inset 0 3px 2px #eee;
  -webkit-box-shadow: inset 0 0 1px #112F40, inset 0 3px 2px #eee;
  box-shadow: inset 0 0 1px #112F40, inset 0 3px 2px #eee;
}
#offiria_loginbox input.offiria_inputsubmit,
#offiria_loginbox button.validate {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  border: 1px solid #64963B;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  width: 344px;
  margin: 15px auto 0;
  background: #a4dd6e;
  background-image: -moz-linear-gradient(top, #a4dd6e 0%, #77bc3e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4dd6e), color-stop(100%, #77bc3e));
  background-image: -webkit-linear-gradient(top, #a4dd6e 0%, #77bc3e 100%);
  background-image: -o-linear-gradient(top, #a4dd6e 0%, #77bc3e 100%);
  background-image: -ms-linear-gradient(top, #a4dd6e 0%, #77bc3e 100%);
  background-image: linear-gradient(top, #a4dd6e 0%, #77bc3e 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a4dd6e', endColorstr='#77bc3e', GradientType=0);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 #BEED91;
  -webkit-box-shadow: inset 0 1px 0 #BEED91;
  box-shadow: inset 0 1px 0 #BEED91;
}
#offiria_loginbox input.offiria_inputsubmit:hover,
#offiria_loginbox button.validate {
  border-color: #6BAD34;
  background: #adea75;
  background-image: -moz-linear-gradient(top, #adea75 0%, #80c944 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adea75), color-stop(100%, #80c944));
  background-image: -webkit-linear-gradient(top, #adea75 0%, #80c944 100%);
  background-image: -o-linear-gradient(top, #adea75 0%, #80c944 100%);
  background-image: -ms-linear-gradient(top, #adea75 0%, #80c944 100%);
  background-image: linear-gradient(top, #adea75 0%, #80c944 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#adea75', endColorstr='#80c944', GradientType=0);
  -moz-box-shadow: inset 0 1px 0 #C6F59A;
  -webkit-box-shadow: inset 0 1px 0 #C6F59A;
  box-shadow: inset 0 1px 0 #C6F59A;
}
#offiria_loginbox .login {
  padding: 30px;
  background: #f1f1f1;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
  -moz-box-shadow: inset 0 1px 0 #ffffff, inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 #ffffff, inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#offiria_loginbox .login .username,
#offiria_loginbox .login .password,
#offiria_loginbox .login .new-account a {
  background: url('../images/login-box-forgot.png') no-repeat;
  margin: 0 5px;
  padding-left: 24px;
  height: 16px;
}
#offiria_loginbox .login .username:hover,
#offiria_loginbox .login .password:hover,
#offiria_loginbox .login .new-account a:hover {
  background: url('../images/login-box-forgot_h.png') no-repeat;
}
#offiria_loginbox .login .username,
#offiria_loginbox .login .username:hover {
  background-position: 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.34);
  padding-right: 10px;
}
#offiria_loginbox .login .password,
#offiria_loginbox .login .password:hover {
  background-position: 0 -20px;
}
#offiria_loginbox .login .new-account {
  margin-top: 10px;
}
#offiria_loginbox .login .new-account a,
#offiria_loginbox .login .new-account a:hover {
  background-position: 0 -40px;
}
#offiria_loginbox .login.star {
  display: none;
}
#offiria_loginbox p {
  margin-top: 14px;
  margin-bottom: 3px;
  background: #E3E9EC;
  background: #FCF8E3;
  border: 1px solid #EDD9BC;
  padding: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  color: #C09853;
  line-height: 1.4em;
  text-align: center;
}
